<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PIASoundBoard</title>
    <script src="./bundle.js"></script>
</head>

<body>
    <div class="container-full pia-bg">

            <%
            var template = require("html-loader!./generated.html");
            %>
            <%= template%>

    </div>
</body>

</html>
